.solutions {

    margin-bottom: 100px;
}

.solutions .TypoFont {
    font-family: 'N27', sans-serif;
}

.Wi-Apps {
    margin-bottom: 100px;
}
.W-Apps {
    margin-bottom: 100px;
}

.M-Apps {
    margin-bottom: 100px;
}

.consulting {
    margin-bottom: 100px;
}