@font-face {
    font-family: 'N27';
    font-style: normal;
    font-weight: 400;
    src: local('N27'), url('https://fonts.cdnfonts.com/s/83602/N27-Regular.woff') format('woff');
}
@font-face {
    font-family: 'N27';
    font-style: italic;
    font-weight: 400;
    src: local('N27'), url('https://fonts.cdnfonts.com/s/83602/N27-RegularItalic.woff') format('woff');
}
html{
    font-family: 'N27', sans-serif;
}
body{
    font-family: 'N27', sans-serif;
}
h1,h2,h3,h4,h5,h6,p {
    font-family: 'N27', sans-serif;
}